body {
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#burger{
    display: none;
}
@media screen and (max-width:767px) {
    #burger {
        display: flex;
        flex-direction: column;
        width: 70px;
        cursor: pointer;
    }
    
     span {
        background-color: black;
        border-radius: 10px;
        height: 7px;
        margin: 7px 0;
    
    
    }
    
    
    span:nth-of-type(1) {
        width: 100%;
    
    }
    
    span:nth-of-type(2) {
        width: 100%;
    }
    
    
    span:nth-of-type(3) {
        width: 100%;
    
    }
    #liste{display: none;}

  
}
